
//CORES
$corDeFundo: #f5f6fa;
$corPrincipal: #182C61;
$corSecundaria: #fff;
$corBotao: #44bd32;
$corBotaoHover: #4cd137;

//FONTES
$fontePrincipal: Roboto, sans-serif;

//Devices
$tablet: 1023px;
$mobile: 767px;